<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icon/book.png">
         <run
               class="de.berlios.quotations.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.berlios.quotations.ui.QuotationsPerspective"
            icon="icon/book.png"
            id="de.berlios.quotations.ui.QuotationsPerspective"
            name="%QuotationsPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.berlios.quotations.ui.MainView"
            icon="icon/document.png"
            id="de.berlios.quotations.ui.MainView"
            name="%MainView">
      </view>
      <view
            class="de.berlios.quotations.ui.DetailsView"
            icon="icon/document.png"
            id="de.berlios.quotations.ui.DetailsView"
            name="%DetailsView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.berlios.quotations.ui.QuotationsPerspective">
         <view
               closeable="false"
               id="de.berlios.quotations.ui.MainView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.berlios.quotations.ui.DetailsView"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="de.berlios.quotations.ui.MainView"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.berlios.quotations.handlers.Filter"
            id="de.berlios.quotations.commands.Filter"
            name="%Filter">
      </command>
      <command
            defaultHandler="de.berlios.quotations.handlers.AddRecord"
            id="de.berlios.quotations.commands.AddRecord"
            name="%AddRecord">
      </command>
      <command
            defaultHandler="de.berlios.quotations.handlers.CopyRecord"
            id="de.berlios.quotations.commands.CopyRecord"
            name="%CopyRecord">
      </command>
      <command
            defaultHandler="de.berlios.quotations.handlers.EditRecord"
            id="de.berlios.quotations.commands.EditRecord"
            name="%EditRecord">
      </command>
      <command
            defaultHandler="de.berlios.quotations.handlers.DeleteRecord"
            id="de.berlios.quotations.commands.DeleteRecord"
            name="%DeleteRecord">
      </command>
      <command
            defaultHandler="de.berlios.quotations.handlers.ImportDB"
            id="de.berlios.quotations.commands.ImportDB"
            name="%ImportDB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.berlios.quotations.handlers.Filter"
            commandId="de.berlios.quotations.handlers.Filter">
      </handler>
      <handler
            class="de.berlios.quotations.handlers.AddRecord"
            commandId="de.berlios.quotations.handlers.AddRecord">
      </handler>
      <handler
            class="de.berlios.quotations.handlers.CopyRecord"
            commandId="de.berlios.quotations.handlers.CopyRecord">
      </handler>
      <handler
            class="de.berlios.quotations.handlers.EditRecord"
            commandId="de.berlios.quotations.handlers.EditRecord">
      </handler>
      <handler
            class="de.berlios.quotations.handlers.DeleteRecord"
            commandId="de.berlios.quotations.handlers.DeleteRecord">
      </handler>
      <handler
            class="de.berlios.quotations.handlers.ImportDB"
            commandId="de.berlios.quotations.handlers.ImportDB">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
            <menu
               id="editMenu"
               label="%Edit">
            
         <command
               commandId="de.berlios.quotations.commands.AddRecord"
               label="%AddRecord"
               style="push">
         </command>
         <command
               commandId="de.berlios.quotations.commands.CopyRecord"
               label="%CopyRecord"
               style="push">
         </command>
         <command
               commandId="de.berlios.quotations.commands.EditRecord"
               label="%EditRecord"
               style="push">
         </command>
         <command
               commandId="de.berlios.quotations.commands.DeleteRecord"
               label="%DeleteRecord"
               style="push">
         </command>
         </menu>
            <menu
                  id="actionsMenu"
                  label="%Actions">
               <command
                     commandId="de.berlios.quotations.commands.Filter"
                     label="%Filter"
                     style="push">
               </command>
               <command
                     commandId="de.berlios.quotations.commands.ImportDB"
                     label="%ImportDB"
                     style="push">
               </command>
            </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.berlios.quotations.application"
            name="%Bundle-Name">
         <property
               name="appName"
               value="%Bundle-Name">
         </property>
         <property
               name="windowImages"
               value="icon/book.png">
         </property>
      </product>
   </extension>

</plugin>
